* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: white;
}

body {
  background: #f3f4f6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #1f2937;
}

header {
  height: 100vh;
}

.banner {
  background: url("./images/banner.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  height: 94%;
  overflow: hidden;
}

.blur {
  position: absolute;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(12px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.banner-text {
  margin: 20px auto;
  top: 70px;
  text-align: center;
  padding: 20px;
  z-index: 3;
  width: 90%;
}

.banner-text h1 {
  color: black;
  font-size: 38px;
  margin-bottom: 15px;
  width: 100%;
}

.banner-text h1 span {
  color: #4f46e5;
}

.banner-text p {
  color: #374151;
  font-size: 18px;
}

button {
  border: none;
  background: transparent;
  outline: none;
  width: 200px;
  height: 40px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.buttons-container {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact-us-btn {
  background-color: #4f46e5;
}

.services-btn {
  color: rgb(67 56 202/ 1);
  background-color: rgb(224 231 255/ 1);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.nav-links li,
.mobile-nav-links li {
  font-size: 16px;
  font-weight: 500;
}

.nav-links li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.selected {
  background: #212121;
  padding: 10px;
  border-radius: 10px;
}

.services-section {
  padding: 48px 0;
  width: 90%;
  margin: auto;
}

.services-section h2 {
  color: #4f46e5;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.services-section h3 {
  color: black;
  font-size: 28px;
  margin-bottom: 14px;
}

.services-main-para {
  color: rgb(107 114 128);
  line-height: 24px;
}

.service-icon {
  background: #4f46e5;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-radius: 5px;
}

.service-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.service-card-text {
  text-align: start;
}

.service-card-text h4 {
  color: black;
  margin-bottom: 3px;
}

.service-card-text p {
  color: rgb(107 114 128);
  padding-top: 4px;
  font-size: 17px;
  line-height: 24px;
}

.service-cards-container {
  margin: 35px auto;
}

.explore-btn {
  width: 40%;
  margin: 0 auto;
}

footer p {
  text-align: center;
  font-size: 14px;
}

.service-feature-list {
  list-style-type: disc;
  margin-left: 18px;
  margin-top: 12px;
}

.service-feature-list li {
  color: #6b7280;
  margin-bottom: 4px;
  line-height: 19px;
}

.nav-bars {
  display: none;
}

.fa-bars::before {
  display: none;
}

footer {
  background: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 7px;
}

a {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

form {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

form h1 {
  color: black;
  margin-bottom: 18px;
  font-size: 28px;
}

form p {
  margin-top: 10px;
}

.input-container {
  position: relative;
  height: 60px;
}

.input-container input,
.input-container textarea {
  position: absolute;
  z-index: 1111;
}

.textarea-container {
  height: 180px;
}

form input,
form textarea {
  background: transparent;
  width: 100%;
  padding: 15px;
  border: 1px solid #9ca3af;
  border-radius: 4px;
  margin: 5px 0;
  color: black;
  outline: none;
  transition: outline border 0.5s ease-in-out;
}

.input-label {
  position: absolute;
  color: #9ca3af;
  padding: 18px;
  transition: 0.2s ease;
  z-index: 1131;
}

form input:focus,
form input:valid,
.input-container textarea:active,
.input-container textarea:focus {
  border: 2px solid #1d4ed8;
}

.input-container input:focus + .input-label,
.input-container input:valid + .input-label,
textarea:focus ~ .input-label,
textarea:not(:placeholder-shown) ~ .input-label {
  transform: translate(-4px, -8px) scale(0.7);
  padding: 0 8px;
  color: #1d4ed8;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
}


input:not(:focus):valid ~ .floating-label {
  top: -40px;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
  opacity: 1;
  color: rgb(100, 6, 6);
}

.scheme-des textarea {
  width: 90%;
  height: 50vh;
  resize: none;
  padding: 10px 20px 0 20px;
  font-size: 140%;
  color: #000;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 10px;
  transition: 0.2s ease all;
  color: #999999;
  font-size: 120%;
}

.form-float {
  position: relative;
  margin-bottom: 30px;
}

form p {
  color: #6b7280;
}

.submit-btn {
  background: #1d4ed8;
  width: 100px;
  margin: 14px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

@media screen and (min-width: 768px) {
  .nav-bars {
    display: none;
  }

  .banner-text h1 {
    width: 60%;
    margin: 20px auto;
    font-size: 60px;
  }

  .banner-text p {
    width: 60%;
    margin: auto;
  }

  .services-section {
    text-align: center;
  }

  .service-cards-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 40px auto;
    flex-wrap: wrap;
    gap: 35px;
  }

  .nav-bars {
    display: none;
  }

  .service-section-card {
    margin: 20px 0;
  }

  .explore-btn {
    width: 20%;
  }

  .mobile-nav-links {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-bars {
    display: block;
    color: rgb(156 163 175 / 1);
  }

  .fa-bars::before {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .banner-text h1 {
    max-width: 90%;
    font-size: 32px;
    margin: 15px auto;
  }

  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }

  .service-card {
    margin-bottom: 20px;
  }

  .mobile-nav-links {
    background: #1f2937;

    list-style-type: none;
    display: none;
    padding: 10px 5px;
  }

  .show {
    display: block;
  }

  .mobile-nav-links li {
    padding: 10px 10px;
    margin: 0 15px;
  }

  .services-section {
    padding: 24px 0;
  }

  form {
    width: 90%;
  }
}

@media screen and (min-width: 1300px) {
  nav {
    padding: 15px 300px;
  }
  .banner-text {
    margin-top: 70px;
  }
  .banner-text h1 {
    width: 100%;
  }

  .explore-btn {
    width: 15%;
  }

  form {
    width: 40%;
  }

  .service-cards-container {
    width: 80%;
  }

  .nav-bars {
    display: none;
  }
}
